<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://styleguide-dev.brainly.com/%SG_VERSION%/style-guide.css"
      rel="stylesheet"
    />
    <script
      src="https://styleguide.brainly.com/images/icons-d66d7f69cb.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/mobile-icons-7def31017a.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/subjects-icons-b0f96b6e0b.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/subjects-mono-icons-0fe77c49f4.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/math-symbols-icons-76ec20f543.js"
      defer
    ></script>
    <title>Brainly Style Guide Components</title>
    <meta
      name="description"
      content="Brainly Style Guide Components - Figma export file"
    />
  </head>
  <body>
    <div id="sg-root"></div>
  </body>
</html>
