<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://styleguide.brainly.com/%SG_VERSION%/style-guide.css"
      rel="stylesheet"
    />
    <script
      src="https://styleguide.brainly.com/images/icons-272e81b518.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/mobile-icons-f74efe2e74.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/subjects-icons-a01adb2d40.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/subjects-mono-icons-341dc27120.js"
      defer
    ></script>
    <script
      src="https://styleguide.brainly.com/images/math-symbols-icons-7c9d6883f2.js"
      defer
    ></script>
    <title>Brainly Style Guide Components</title>
    <meta
      name="description"
      content="Brainly Style Guide Components - Figma export file"
    />
  </head>
  <body>
    <div id="sg-root"></div>
  </body>
</html>
